.actiu {
  color: #00c3ff;
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  width: 100%;
  background-color: #0097b2; 
  padding: 15px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 200px;  
  height: auto;
}
nav {
  display: flex;
  align-items: center;
}
nav a {
  margin-left: 25px;
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
  transition: 0.3s ease-in-out;
}

nav a:hover {
  color: #c6f7ff;
}

.actiu,
.login,
.nurse {
  border-bottom: 2px solid white;
}

.home-container {
  margin-top: 120px;
  text-align: center;
  padding: 40px;
}

h1 {
  font-size: 3rem;
  color: #004d5e;
  margin-bottom: 20px;
  font-weight: bold;
}

button {
  padding: 12px 20px;
  background-color: #0097b2;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #00788f;
}
.profile-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}