<form #profileForm="ngForm">

  <div class="left">
    <div>
      <h1>PERFIL</h1>

      <input
        type="text"
        name="name"
        placeholder="Nombre"
        [(ngModel)]="nurse.name"
        required
      />

      <input
        type="text"
        name="surname"
        placeholder="Apellido"
        [(ngModel)]="nurse.surname"
        required
      />

      <input
        type="number"
        name="age"
        placeholder="Edad"
        [(ngModel)]="nurse.age"
        required
      />
      <input
        type="text"
        name="speciality"
        placeholder="Especialidad"
        [(ngModel)]="nurse.speciality"
        required
      />
      <input
        type="text"
        name="username"
        placeholder="Username"
        [(ngModel)]="nurse.username"
        required
      />

      <input
        type="password"
        name="password"
        placeholder="Contraseña"
        [(ngModel)]="nurse.password"
        required
      />
      
    </div>
    <div class="buttons">
      <button type="button" (click)="openUpdate()" [disabled]="profileForm.invalid">
        GUARDAR
      </button>
      <button type="button" class="danger" (click)="openDelete()">
        ELIMINAR CUENTA
      </button>
    </div>
  </div>
</form>
      <div class="modal" *ngIf="confirmUpdate">
        <div class="modal-content">
          <h2>Confirmar cambios</h2>
          <p>¿Estás seguro de modificar los datos?</p>
          <button type="button" class="confirm" (click)="confirmUpdateA()">Sí</button>
          <button type="button" class="cancel" (click)="cancelUpdate()">No</button>
        </div>
      </div>
      <div class="modal" *ngIf="confirmDelete">
        <div class="modal-content">
          <h2>Eliminar cuenta</h2>
          <p>¿Estás seguro de eliminar la cuenta?</p>
          <button type="button" class="confirm" (click)="confirmDeleteA()">Sí</button>
          <button type="button" class="cancel" (click)="cancelDelete()">No</button>
        </div>
      </div>
