<!-- Login form -->
<form (ngSubmit)="login()" #LoginForm="ngForm" method="post" id="Login">
  <!-- Left section of the form -->
  <div class="left">
    <div>
      <!-- Welcome message and registration link -->
      <p>HealthConnect</p>
    </div>
  </div>

  <!-- Right section of the form -->
  <div class="right">
    <div>
      <!-- Login heading -->
      <h1>Login</h1>

      <!-- Username input field -->
      <input type="text" name="username" placeholder="Username" [(ngModel)]="username" />
      <span class="material-symbols-outlined person"> </span>

      <!-- Password input field -->
      <input type="password" name="password" placeholder="Password" [(ngModel)]="password" />
      <span class="material-symbols-outlined lock"> </span>

      <!-- Forgot password link
          <a href="">Forgot Password?</a> -->

      <!-- Login button -->
      <button type="submit">Login</button>
    </div>
  </div>
</form>
